@model RoleViewModel

@{
    ViewData["Title"] = "Delete";
}


<p class="alert-danger m-2 p-2">Are you sure to delete @Model.Name department</p>

<a asp-action="DeleteAction" asp-route-Id="@Model.Id" class="btn btn-primary my-5 ">Delete</a>
<a asp-action="Index" class="btn btn-danger">
    Back
</a>
