
@{
    ViewData["Title"] = "Edit";
}

@model RoleViewModel
<div class="container-lg">

    <form asp-action="Edit">
        <input type="hidden" name="_method" value="PUT" />

        <div class="form-group my-2">
            <label asp-for=Name for="exampleInputEmail1"></label>
            <input class="form-control"
                   asp-for=Name>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        

        <button type="submit" class="btn btn-primary my-5 ">Edit</button>
        <a asp-action="Index" class="btn btn-danger">
            Back
        </a>
    </form>
</div>
